th, td {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.criteria {
    text-align: left;
}

.panel-heading .accordion-toggle[aria-expanded=false]:after {
    font-family: 'Glyphicons Halflings', serif;
    content: "\e080";
    float: right;
    color: #5e3b27;
}

.panel-heading .accordion-toggle[aria-expanded=true]:after {
    font-family: 'Glyphicons Halflings', serif;
    content: "\e114";
    float: right;
    color: #5e3b27;
}

.panel-heading .accordion-toggle.collapsed:after {
    content: "\e080";
}

#dienIn1 {
    float: left;
    padding-left: 30px;
    margin-top: -2px;
}

#dienIn {
    float: right;
    padding-right: 20px;
}

#firstDown:after {
    font-family: 'Glyphicons Halflings', serif;
    content: "\e114";
    float: right;
    color: grey;
}

.bierSelect {
    float: left;
}

#gaVerder {
    padding-left: 20px;
}

#bekijkVoorwaarden {
    padding: 20px 0 0 20px;
}

#verklaring {
    padding: 10px 20px 0 20px;
    float: left;
}

#voorbeeld {
    margin-bottom: 0;
}

#voorbeeldje {
    text-align: left;
}

#nogvoorbeeld {
    text-align: left;
}

#hoofding {
    text-align: left;
}

#presentatie-1, #presentatie-2, #presentatie-3, #koolzuur-0, #koolzuur-1, #koolzuur-2, #koolzuur-3, #koolzuur-4,
#presentatiecorrectheid-0, #presentatiecorrectheid-1, #helderheidExtra-0, #helderheidExtra-1, #helderheidExtra-2,
#helderheidExtra-3, #helderheidExtra-4, #helderheidExtra-5, #helderheid-0, #helderheid-1, #schuimkraag-0, #schuimkraag-1,
#schuimkraag-2, #schuimkraag-3, #schuimkraag-4, #schuimkraagExtra-0, #schuimkraagExtra-1, #schuimkraagExtra-2,
#schuimkraagExtra-3, #doordrinkbaarheid-0, #doordrinkbaarheid-1, #doordrinkbaarheid-2, #doordrinkbaarheid-3, #balans-0,
#balans-1, #balans-2, #balans-3, #creativiteit-0, #creativiteit-1, #creativiteit-2, #creativiteit-3, #complexiteit-0,
#complexiteit-1, #complexiteit-2, #complexiteit-3, #type-0, #type-1, #type-2, #type-3 {
    margin-right: 10px;
}




